<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.auto.test.mapper.ApiHeaderMapper">
  <resultMap id="BaseResultMap" type="com.auto.test.domain.ApiHeader">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="api_base_id" jdbcType="BIGINT" property="apiBaseId" />
    <result column="header_type" javaType="HeaderType" property="headerType" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="update_user" jdbcType="BIGINT" property="updateUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="is_deleted" javaType="Boolean" property="isDeleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.auto.test.domain.ApiHeader">
    <result column="header_body" jdbcType="LONGVARCHAR" property="headerBody" />
  </resultMap>
  <sql id="Base_Column_List">
    id, api_base_id, header_type, create_user, update_user, create_time, last_update_time, 
    is_deleted
  </sql>
  <sql id="Blob_Column_List">
    header_body
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_api_header
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByApiBaseId" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_api_header
    where api_base_id = #{apiBaseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_api_header
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.auto.test.domain.ApiHeader">
    insert into t_api_header (id, api_base_id, header_type, 
      create_user, update_user, create_time, 
      last_update_time, is_deleted, header_body
      )
    values (#{id,jdbcType=BIGINT}, #{apiBaseId,jdbcType=BIGINT}, #{headerType,jdbcType=TINYINT}, 
      #{createUser,jdbcType=BIGINT}, #{updateUser,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=TINYINT}, #{headerBody,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.auto.test.domain.ApiHeader">
    insert into t_api_header
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="apiBaseId != null">
        api_base_id,
      </if>
      <if test="headerType != null">
        header_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="headerBody != null">
        header_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="apiBaseId != null">
        #{apiBaseId,jdbcType=BIGINT},
      </if>
      <if test="headerType != null">
        #{headerType,jdbcType=TINYINT},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="headerBody != null">
        #{headerBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByApiBaseIdSelective" parameterType="com.auto.test.domain.ApiHeader">
    update t_api_header
    <set>
      <if test="headerType != null">
        header_type = #{headerType,javaType=HeaderType},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=BIGINT},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,javaType=Boolean},
      </if>
      <if test="headerBody != null">
        header_body = #{headerBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where api_base_id = #{apiBaseId,jdbcType=BIGINT}
    and is_deleted= false
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.auto.test.domain.ApiHeader">
    update t_api_header
    set api_base_id = #{apiBaseId,jdbcType=BIGINT},
      header_type = #{headerType,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      header_body = #{headerBody,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.auto.test.domain.ApiHeader">
    update t_api_header
    set api_base_id = #{apiBaseId,jdbcType=BIGINT},
      header_type = #{headerType,jdbcType=TINYINT},
      create_user = #{createUser,jdbcType=BIGINT},
      update_user = #{updateUser,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>